<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - ShopFlow</title>
</head>
<body>

    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}

        <div class="container">
            <label>Usuário:</label>
            <input type="text" name="username" required>
        </div>

        <div class="container">
            <label>Senha:</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Entrar</button>
    </form>

    {% if form.errors %}
        <p style="color:red;">Usuário ou senha inválidos</p>
    {% endif %}

</body>
</html>